services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "9000:8000"
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/dash.advogalia.com.br/fullchain.pem:/etc/letsencrypt/live/dash.advogalia.com.br/fullchain.pem:ro
      - /etc/letsencrypt/live/dash.advogalia.com.br/privkey.pem:/etc/letsencrypt/live/dash.advogalia.com.br/privkey.pem:ro
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
